@tailwind base;
@tailwind components;
@tailwind utilities;

input, dialog {
  @apply bg-black
}

:root {
  color-scheme: dark;
}

.karla-400 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.visible_when_parent_hover {
  opacity: 0;
  pointer-events: none;
  transition: 0.2s opacity;
}
*:hover > .visible_when_parent_hover {
  opacity: 1;
  pointer-events: all;
}
